.news {
  background-color: #f7f7f7 !important;
  padding-top: 30px;
  .blog_home {
    .title {
      padding: 20px 0;
      h2 {
        font-weight: 500;
        margin: 20px 0 15px;
        line-height: 36px;
        font-size: 30px;
        color: #121416;
        font-family: "Montserrat", sans-serif;
      }
    }
    .photos {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 40px;
      .card_img {
        position: relative;
        width: 255px;
        height: 289px;
        img {
          width: 255px;
          height: 191.25px;
          border-radius: 10px;
          object-fit: cover;
          object-position: center;
        }
        .date {
          width: 62.27px;
          height: 75.2px;
          word-wrap: break-word;
          padding: 10px;
          display: inline-block;
          position: absolute;
          right: 10px;
          top: 10px;
          color: #ffffff;
          border-radius: 4px;
          text-align: center;
          background: linear-gradient(to right, #ed1c24 0%, #ff6a5b 100%);
        }
        p {
          font-weight: 500;
          margin-top: 30px;
          text-align: center !important;
          color: #212529;
          margin-bottom: 1rem;
        }
      }
    }
    .btn {
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center !important;
      background: linear-gradient(to right, #ed1c24 0%, #ff6a5b);
      padding: 15px 45px;

      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14);
      border-radius: 0.25rem;
      a {
        font-size: 16px;
        text-decoration: none;
        width: 120.47px;
        height: 19.5px;
        color: #fff;
        font-weight: 400;
        // text-align: center;
        // vertical-align: middle;
        line-height: 1.5;
      }
      &:hover {
        background: linear-gradient(to right, #ff6a5b 0%, #ed1c24 100%);
      }
    }
  }
}
