.footer3 {
  background: #343434;
  .cont {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1140px;
    .textside {
      a {
        img {
          width: 125px;
          height: 23px;
          margin-top: 20px;
        }
      }
      p {
        margin-top: 20px;
        color: #fff;
        margin-bottom: 1rem;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .list {
      margin-top: 5px;
      color: #fff;
      p {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        font-family: "Montserrat", sans-serif;
      }
      ul {
        margin-top: 10px;
        padding: 0;
        li {
          list-style: none;
          font-size: 14px;
          padding: 6px 0px;
          a {
            font-weight: 400;
            list-style: none;

            text-decoration: none;
            color: #fff;
            transition: 0.2s ease-in;
            &:hover {
              color: #ed1c24;
              transition: 0.2s ease-in;
            }
          }
        }
      }
      .social {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: auto !important;
        svg {
          cursor: pointer;
          margin-right: 12px;
          transition: 0.2s ease-in;
          &:hover {
            color: #ed1c24;
            transition: 0.2s ease-in;
          }
        }
      }
    }
  }
  .bottom_bar {
    border-top: 1px solid #484b50;
    padding: 15px 0;
    margin-top: 15px;
    .text_center {
      text-align: center !important;
      font-size: 14px;
      color: #fff !important;
    }
  }
}
